<%- include('header.ejs', {title: title}); %>

    <main role="main" class="container">
      <div class="content">
        <h1><%= title %></h1>

        <p>Session managed.  <a href="/">Go Back?</a></p>
      </div>
    </main>

<%- include('footer.ejs'); %>